.headings {
    color: #2c3824;
}

.question {
    padding: 0% 5% 0% 5%;
    background-color: #f0c893;
    color: #2c3824;
    font-weight: 100;
    border: #6f7c67 solid 4px;
    border-radius: 17px;
    /* min-width: 500px; */
    margin: 1%;
    width: 80%;
}

.options {
    display: flex;
    flex-direction: column;
    /* margin: 0% 23% 0% 23%; */
    width: 90%;
}

.option {
    padding: 0px 2px;
    /* margin: 10px; */
    margin: 10px;
    border-radius: 30px;
    border: #6f7c67 solid 3px;
    background-color: #f1f0e8;
    /* width: 55%; */
    width: 50%;
    /* max-width: 50%; */
    cursor: pointer;
}


.option:hover {
    padding: 0px 2px;
    margin: 10px;
    border-radius: 30px;
    border: #6f7c67 solid 3px;
    background-color: #cac5a0;
    color: #fff;
    font-weight: 0px;
    width: 50%;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}

.optionDiv{
    display: flex;
    flex-direction: row;
}

.countdown {
    height: fit-content;
    width: fit-content;
    border-radius: 20px 0px 20px 8px;
    border: #2c3824 solid 3px;
    background-color: #f1ede8;
    justify-content: center;
    padding: 0px 10px;
}

@media (max-width:700px) {
    .question {
        padding: 0% 5% 0% 5%;
        background-color: #f0c893;
        color: #2c3824;
        font-weight: 100;
        border: #6f7c67 solid 4px;
        border-radius: 17px;

        min-width:80%;
    }

    .optionDiv{
        display: flex;
        flex-direction: column;
    }  
    .option {
        padding: 0px 2px;
        /* margin: 10px; */
        margin: 10px;
        border-radius: 30px;
        border: #6f7c67 solid 3px;
        background-color: #f1f0e8;
        /* width: 55%; */
        width: 100%;
        /* max-width: 50%; */
        cursor: pointer;
    }
    .option:hover {
        padding: 0px 2px;
        margin: 10px;
        border-radius: 30px;
        border: #6f7c67 solid 3px;
        background-color: #cac5a0;
        color: #fff;
        font-weight: 0px;
        width: 100%;
        cursor: pointer;
        box-shadow: 10px 10px 5px grey;
    }
}

/* @media (min-width:700px ) and( max-width:300px) {
    .question {
        padding: 0% 5% 0% 5%;
        background-color: #f0c893;
        color: #2c3824;
        font-weight: 100;
        border: #6f7c67 solid 4px;
        border-radius: 17px;

        min-width:80%;
    }

   
} */